In [1]:
from pyspark.sql import SparkSession

In [2]:
spark_session = (SparkSession.builder.master("local[*]")
.config("spark.jars.packages","mysql:mysql-connector-java:8.0.11") 
.appName("MYSQL-QUERY")
.getOrCreate())

:: loading settings :: url = jar:file:/usr/local/lib/python3.8/dist-packages/pyspark/jars/ivy-2.5.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /root/.ivy2/cache
The jars for the packages stored in: /root/.ivy2/jars
mysql#mysql-connector-java added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-fc00857d-9000-45e9-8705-3965a0b51a7f;1.0
	confs: [default]
	found mysql#mysql-connector-java;8.0.11 in central
	found com.google.protobuf#protobuf-java;2.6.0 in central
downloading https://repo1.maven.org/maven2/mysql/mysql-connector-java/8.0.11/mysql-connector-java-8.0.11.jar ...
	[SUCCESSFUL ] mysql#mysql-connector-java;8.0.11!mysql-connector-java.jar (2211ms)
downloading https://repo1.maven.org/maven2/com/google/protobuf/protobuf-java/2.6.0/protobuf-java-2.6.0.jar ...
	[SUCCESSFUL ] com.google.protobuf#protobuf-java;2.6.0!protobuf-java.jar(bundle) (777ms)
:: resolution report :: resolve 10696ms :: artifacts dl 2996ms
	:: modules in use:
	com.google.protobuf#protobuf-java;2.6.0 from central in [default]
	mysql#mysql-connector-java;8.0.11 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   2   |   2   |   2   |   0   ||   2   |   2   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-fc00857d-9000-45e9-8705-3965a0b51a7f
	confs: [default]
	2 artifacts copied, 0 already retrieved (2571kB/36ms)
24/04/09 14:04:25 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
spark_session

In [4]:
MYSQL_URI="jdbc:mysql://mysql:3306/classicmodels?useSSL=false"
MYSQL_USER_NAME="root"
MYSQL_PASSWORD="example"

In [5]:
query = "SELECT * FROM customers limit 10"

In [7]:
df = spark_session.read.format("jdbc").options(
            url=MYSQL_URI,
            driver='com.mysql.cj.jdbc.Driver',
            query=query,
            user=MYSQL_USER_NAME,
            password=MYSQL_PASSWORD).load()

In [8]:
df.printSchema()

root
 |-- customerNumber: integer (nullable = true)
 |-- customerName: string (nullable = true)
 |-- contactLastName: string (nullable = true)
 |-- contactFirstName: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- addressLine1: string (nullable = true)
 |-- addressLine2: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- postalCode: string (nullable = true)
 |-- country: string (nullable = true)
 |-- salesRepEmployeeNumber: integer (nullable = true)
 |-- creditLimit: decimal(10,2) (nullable = true)

In [10]:
df.columns

['customerNumber',
 'customerName',
 'contactLastName',
 'contactFirstName',
 'phone',
 'addressLine1',
 'addressLine2',
 'city',
 'state',
 'postalCode',
 'country',
 'salesRepEmployeeNumber',
 'creditLimit']

In [9]:
df.show(4)

+--------------+--------------------+---------------+----------------+------------+--------------------+------------+---------+--------+----------+---------+----------------------+-----------+
|customerNumber|        customerName|contactLastName|contactFirstName|       phone|        addressLine1|addressLine2|     city|   state|postalCode|  country|salesRepEmployeeNumber|creditLimit|
+--------------+--------------------+---------------+----------------+------------+--------------------+------------+---------+--------+----------+---------+----------------------+-----------+
|           103|   Atelier graphique|        Schmitt|         Carine |  40.32.2555|      54, rue Royale|        null|   Nantes|    null|     44000|   France|                  1370|   21000.00|
|           112|  Signal Gift Stores|           King|            Jean|  7025551838|     8489 Strong St.|        null|Las Vegas|      NV|     83030|      USA|                  1166|   71800.00|
|           114|Australian Collec...|       Ferguson|           Peter|03 9520 4555|   636 St Kilda Road|     Level 3|Melbourne|Victoria|      3004|Australia|                  1611|  117300.00|
|           119|   La Rochelle Gifts|        Labrune|         Janine |  40.67.8555|67, rue des Cinqu...|        null|   Nantes|    null|     44000|   France|                  1370|  118200.00|
+--------------+--------------------+---------------+----------------+------------+--------------------+------------+---------+--------+----------+---------+----------------------+-----------+
only showing top 4 rows

In [11]:
df.select(['customerNumber',
 'customerName',
 'contactLastName',
 'contactFirstName',
 'phone',
 'addressLine1']).show(5)

+--------------+--------------------+---------------+----------------+------------+--------------------+
|customerNumber|        customerName|contactLastName|contactFirstName|       phone|        addressLine1|
+--------------+--------------------+---------------+----------------+------------+--------------------+
|           103|   Atelier graphique|        Schmitt|         Carine |  40.32.2555|      54, rue Royale|
|           112|  Signal Gift Stores|           King|            Jean|  7025551838|     8489 Strong St.|
|           114|Australian Collec...|       Ferguson|           Peter|03 9520 4555|   636 St Kilda Road|
|           119|   La Rochelle Gifts|        Labrune|         Janine |  40.67.8555|67, rue des Cinqu...|
|           121|  Baane Mini Imports|     Bergulfsen|          Jonas |  07-98 9555|Erling Skakkes ga...|
+--------------+--------------------+---------------+----------------+------------+--------------------+
only showing top 5 rows

In [14]:
# spark_session.stop()